body {
    background: url("/img/bg.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.mcenter {
    margin-top: 12vh;
}

.bgw {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}