<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link href="/css/style.css" rel="stylesheet">

  <title>Todo List</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Todo List</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/stats">Statistics</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col mcenter">

        <!-- Navigation for TODO list -->
        <ul class="nav nav-tabs bgw">
          <li class="nav-item">
            <a class="nav-link {% if page==0 %} active {% endif %}" aria-current="page" href="/backlog">Backlog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page==1 %} active {% endif %}" href="/active">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page==2 %} active {% endif %}" href="/done">Done</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page==3 %} active {% endif %}" href="/archived">Archived</a>
          </li>
        </ul>

        <!-- actual TODO list -->
        <div class="list-group">
          {% for item in items %}
          <a href="#" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ item["title"] }}</h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">{{ item["description"] }}</p>
            <small>And some small print.</small>
          </a>
          {% endfor %}
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Some placeholder content in a paragraph.</p>
            <small class="text-muted">And some muted small print.</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <div class="d-flex w-100 justify-content-between">
              <p class="mb-1">Some placeholder content in a paragraph.</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-primary">Move To Next Bucket</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </div>
            </div>

          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <script src="/js/index.js"></script>

</body>

</html>